{{ header('This is a mirage') }}
{% include 'logo.twig' %}

<div class="main">
<div class="para"></div>
</div>

<div class="actions">
    <span class="action-bar">
    <a href="/login.php">Enter</a>
{% if constant('OPEN_REGISTRATION') %}
    <a title="Obtain an account by supplying a valid email address" href="register.php">Register</a>
{% endif %}
{% if constant('OPEN_EXTERNAL_REFERRALS') %}
    <a title="Obtain an account by proving your membership on a site we trust" href="referral.php">Referral</a>
{% endif %}
{% if constant('RECOVERY') %}
    <a title="Obtain a new account by proving your membership on the previous site" href="recovery.php">Recovery</a>
{% endif %}
    </span>
</div>
{{ footer() }}
